<!-- Footer -->
<footer id="footer">
	<ul class="icons">
		<li><a href="{{ site.github_repo }}" class="icon fa-github"><span class="label">GitHub</span></a></li>
		<!-- <li><a href="https://twitter.com/" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
	</ul>
	<p class="copyright">{{ site.copyright_full }}</p>
</footer>
<!-- Scripts -->
<script src="{{ site.url }}/js/jquery.min.js"></script>
<script src="{{ site.url }}/js/jquery.scrollex.min.js"></script>
<script src="{{ site.url }}/js/jquery.scrolly.min.js"></script>
<script src="{{ site.url }}/js/skel.min.js"></script>
<script src="{{ site.url }}/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}/js/main.js"></script>
