<head>
	<title>{{ page.title }}</title>
	<meta name="description" content="{{ page.description }}">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="{{ site.url }}/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{{ site.url }}/css/main.css" />
	<link rel="stylesheet" href="{{ site.url }}/css/aone-v5.css" />
	<link rel="stylesheet" href="{{ site.url }}/css/font-awesome.min.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.url }}/css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ site.url }}/css/ie9.css" /><![endif]-->
	<meta name="apple-mobile-web-app-title" content="Pussy">
	<link rel="apple-touch-icon" href="{{ site.url }}/img/Logo-120x120.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/img/Logo-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/img/Logo-180x180.png">
	<link rel="apple-touch-icon" sizes="167x167" href="{{ site.url }}/img/Logo-167x167.png">
	<link rel="icon" type="image/png" href="{{ site.url }}/img/Logo-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ site.url }}/img/Logo-16x16.png" sizes="16x16">
	<!-- <link href="{{ site.url }}/rss.xml" type="application/rss+xml" rel="alternate" title="anna" /> -->
</head>
