<header id="toolbar" class="alt">
	<h1><a href="{{ site.url }}">MyPorns<span>.github.io</span></a></h1>
	<a class="nav scrolly hide" href="{{ site.drive }}"><i class="fa fa-download" aria-hidden="true"></i><span>Drive ({{ site.password }})</span></a>
	<a class="nav hide scrolly" href="{{ site.github_repo }}"><i class="fa fa-github" aria-hidden="true"></i><span>Github</span></a>
	<a class="nav scrolly hide" href="{{ site.url }}/posts"><i class="fa fa-comment" aria-hidden="true"></i><span>Posts</span></a>
	<!-- <a class="nav" href="{{ site.url }}/help/"><i class="fa fa-question-circle" aria-hidden="true"></i><span>Help</span></a> -->
	<!-- <a class="nav" href="{{ site.url }}/issues/"><i class="fa fa-bug" aria-hidden="true"></i><span>Issues</span></a> -->
</header>
